# Flutter et Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/.gradle/
android/captures/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
macos/Flutter/ephemeral/
web/.dart_tool/
flutter/ephemeral/

# IDEs : VS Code, Android Studio, IntelliJ
.idea/
.vscode/
*.iml

# Fichiers logs et temporaires
*.log
*.tmp
*.lock

# Fichiers sensibles ou personnels
.env
*.jks
*.keystore

# Fichiers système (macOS, Windows)
.DS_Store
Thumbs.db

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
x64/
x86/
*.[Cc]ache
!*.[Cc]ache/

# Node.js (si Flutter Web ou autres outils JS)
node_modules/

# Médias lourds (optionnel – à adapter selon ton projet)
*.mp4
*.mov
*.psd
*.xcf
